@import url('https://fonts.googleapis.com/css2?family=Lobster|Bungee|Nunito|Roboto&display=swap');



:root {
  --primaryColor: #fff;
  --navColor1: #6096B4;
  --navColor2: #93BFCF;
  --navColor3: #BDCDD6;
  --navColor4: #EEE9DA;
  --navColor5: #FFC3A1;
}

/* Global Styles */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #DDDDDD;
  overflow-x: hidden;
  opacity: 1;
}

.logo {
  font-family: 'Lobster', cursive;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #3A98B9;
  z-index: 9999;
}



/* Navigation Menu */

section#home {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1441' height='560' preserveAspectRatio='none' viewBox='0 0 1441 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1188%26quot%3b)' fill='none'%3e%3crect width='1441' height='560' x='0' y='0' fill='rgba(221%2c 221%2c 221%2c 1)'%3e%3c/rect%3e%3cg mask='url(%26quot%3b%23SvgjsMask1189%26quot%3b)'%3e%3cpath d='M148.5 280.5L181.5 313.5L214.5 313.5L247.5 313.5M313.5 280.5L346.5 313.5L379.5 313.5L412.5 313.5M379.5 280.5L412.5 247.5M346.5 280.5L379.5 247.5M-16.5 280.5L16.5 280.5L49.5 280.5L82.5 280.5L115.5 280.5L148.5 280.5L181.5 280.5L214.5 280.5L247.5 280.5L280.5 280.5L313.5 280.5L346.5 280.5L379.5 280.5L412.5 280.5L445.5 280.5L478.5 280.5' stroke='rgba(125%2c 185%2c 182%2c 1)' stroke-width='5.5'%3e%3c/path%3e%3cpath d='M470.25 280.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM239.25 313.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM404.25 313.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM404.25 247.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM371.25 247.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0z' fill='rgba(125%2c 185%2c 182%2c 1)'%3e%3c/path%3e%3cpath d='M445.5 214.5L478.5 247.5L511.5 247.5L544.5 247.5L577.5 247.5L610.5 247.5M247.5 247.5L280.5 214.5L313.5 214.5M181.5 247.5L214.5 214.5L247.5 214.5M313.5 247.5L346.5 247.5M-16.5 247.5L16.5 247.5L49.5 247.5L82.5 247.5L115.5 247.5L148.5 247.5L181.5 247.5L214.5 247.5L247.5 247.5L280.5 247.5L313.5 247.5L346.5 214.5L379.5 214.5L412.5 214.5L445.5 214.5L478.5 214.5L511.5 214.5' stroke='rgba(233%2c 100%2c 121%2c 1)' stroke-width='5.5'%3e%3c/path%3e%3cpath d='M503.25 214.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM602.25 247.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM305.25 214.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM239.25 214.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM338.25 247.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0z' fill='rgba(233%2c 100%2c 121%2c 1)'%3e%3c/path%3e%3cpath d='M-16.5 313.5L16.5 313.5L49.5 313.5' stroke='rgba(233%2c 100%2c 121%2c 1)' stroke-width='5.5'%3e%3c/path%3e%3cpath d='M41.25 313.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0z' fill='rgba(233%2c 100%2c 121%2c 1)'%3e%3c/path%3e%3cpath d='M478.5 181.5L511.5 148.5L544.5 148.5L577.5 148.5L610.5 115.5L643.5 115.5L676.5 115.5M280.5 181.5L313.5 148.5M544.5 181.5L577.5 214.5L610.5 214.5L643.5 214.5M148.5 181.5L181.5 214.5M-16.5 214.5L16.5 214.5L49.5 214.5L82.5 214.5L115.5 214.5L148.5 181.5L181.5 181.5L214.5 181.5L247.5 181.5L280.5 181.5L313.5 181.5L346.5 181.5L379.5 181.5L412.5 181.5L445.5 181.5L478.5 181.5L511.5 181.5L544.5 181.5L577.5 181.5' stroke='rgba(125%2c 185%2c 182%2c 1)' stroke-width='5.5'%3e%3c/path%3e%3cpath d='M569.25 181.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM668.25 115.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM305.25 148.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM635.25 214.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM173.25 214.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0z' fill='rgba(125%2c 185%2c 182%2c 1)'%3e%3c/path%3e%3cpath d='M-16.5 346.5L16.5 346.5' stroke='rgba(125%2c 185%2c 182%2c 1)' stroke-width='5.5'%3e%3c/path%3e%3cpath d='M8.25 346.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0z' fill='rgba(125%2c 185%2c 182%2c 1)'%3e%3c/path%3e%3cpath d='M82.5 181.5L115.5 148.5M181.5 148.5L214.5 115.5L247.5 115.5L280.5 115.5L313.5 115.5M49.5 181.5L82.5 148.5M-16.5 181.5L16.5 181.5L49.5 181.5L82.5 181.5L115.5 181.5L148.5 148.5L181.5 148.5L214.5 148.5' stroke='rgba(125%2c 185%2c 182%2c 1)' stroke-width='5.5'%3e%3c/path%3e%3cpath d='M206.25 148.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM107.25 148.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM305.25 115.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM74.25 148.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0z' fill='rgba(125%2c 185%2c 182%2c 1)'%3e%3c/path%3e%3cpath d='M16.5 379.5L49.5 412.5M115.5 346.5L148.5 313.5M82.5 379.5L115.5 379.5M445.5 346.5L478.5 313.5L511.5 313.5L544.5 313.5M181.5 346.5L214.5 379.5L247.5 379.5L280.5 379.5L313.5 412.5L346.5 412.5L379.5 412.5M-16.5 379.5L16.5 379.5L49.5 379.5L82.5 379.5L115.5 346.5L148.5 346.5L181.5 346.5L214.5 346.5L247.5 346.5L280.5 346.5L313.5 346.5L346.5 346.5L379.5 379.5L412.5 379.5L445.5 346.5L478.5 346.5L511.5 346.5L544.5 346.5L577.5 346.5L610.5 346.5L643.5 313.5' stroke='rgba(125%2c 185%2c 182%2c 1)' stroke-width='5.5'%3e%3c/path%3e%3cpath d='M635.25 313.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM41.25 412.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM140.25 313.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM107.25 379.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM536.25 313.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM371.25 412.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0z' fill='rgba(125%2c 185%2c 182%2c 1)'%3e%3c/path%3e%3cpath d='M16.5 115.5L49.5 82.5L82.5 82.5L115.5 82.5M148.5 115.5L181.5 115.5M-16.5 148.5L16.5 115.5L49.5 115.5L82.5 115.5L115.5 115.5L148.5 115.5L181.5 82.5' stroke='rgba(233%2c 100%2c 121%2c 1)' stroke-width='5.5'%3e%3c/path%3e%3cpath d='M173.25 82.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM107.25 82.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM173.25 115.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0z' fill='rgba(233%2c 100%2c 121%2c 1)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1188'%3e%3crect width='1441' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cmask id='SvgjsMask1189'%3e%3crect width='1441' height='560' fill='white'%3e%3c/rect%3e%3cpath d='M474.37 280.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM243.37 313.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM408.37 313.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM408.37 247.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM375.37 247.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M507.37 214.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM606.37 247.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM309.37 214.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM243.37 214.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM342.37 247.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M45.37 313.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M573.37 181.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM672.37 115.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM309.37 148.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM639.37 214.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM177.37 214.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M12.37 346.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M210.37 148.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM111.37 148.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM309.37 115.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM78.37 148.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M639.37 313.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM45.37 412.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM144.37 313.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM111.37 379.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM540.37 313.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM375.37 412.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M177.37 82.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM111.37 82.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM177.37 115.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0z' fill='black'%3e%3c/path%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-position: center center;
}

#welcome-text {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  right: 0;
  width: 35%;
  margin-right: 10%;
}



#welcome-text h1 {
  font-size: 2vw;
  display: block;
  font-family: Bunge, sans-serif;
  font-weight: 900;


}

#welcome-text h2 {
  font-size: 1.5vw;
  display: block;
  font-family: Bunge, sans-serif;
  font-weight: 900;
  padding-bottom: 5px;

}


#typed {
  color: #7f00ff;
}


.small-screen-img {
  display: none;
}

/* Overlay */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Navigation */
nav,
nav ul {
  height: 100%;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 20%;
  overflow: hidden;
}

nav li a {
  font-family: Nunito, sans-serif;
  font-size: 1.5rem;
  position: relative;
  top: 45%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a::before {
  content: "";
  width: 25vw;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
}

nav li a:hover::before {
  opacity: 1;
}

nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}

nav li:nth-of-type(2) {
  background-color: var(--navColor2);
}

nav li:nth-of-type(3) {
  background-color: var(--navColor3);
}

nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}

nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}

.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #000;
  margin: 8px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}



/* Sections */
section#home {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}


/* Home Icon */
.home-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin: 10px 0;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

/* Styling for the home icon */
.home-icon a {
  padding: 5% 3%;
  font-size: 1.5rem;
}

/* Slide-in animation for navigation  */
.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

/* Keyframes for the slide-in animation */
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}


@media screen and (min-width: 600px) and (max-width: 999px) {
  #welcome-text {
    width: 45%;

  }

  #welcome-text h1 {
    font-size: 3vw;
    font-weight: 900;

  }

  #welcome-text h2 {
    font-size: 2.5vw;
    font-weight: 900;

  }
}




/* ----------About----------- */
section#about {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1518' height='560' preserveAspectRatio='none' viewBox='0 0 1518 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1153%26quot%3b)' fill='none'%3e%3crect width='1518' height='560' x='0' y='0' fill='rgba(221%2c 221%2c 221%2c 1)'%3e%3c/rect%3e%3cpath d='M1104.839%2c463.536C1131.811%2c464.42%2c1158.383%2c451.204%2c1171.199%2c427.455C1183.487%2c404.683%2c1176.869%2c377.415%2c1163.152%2c355.474C1150.352%2c335.001%2c1128.973%2c322.048%2c1104.839%2c321.312C1079.272%2c320.532%2c1052.861%2c329.596%2c1040.019%2c351.718C1027.134%2c373.914%2c1032.739%2c401.134%2c1045.61%2c423.338C1058.436%2c445.463%2c1079.279%2c462.698%2c1104.839%2c463.536' fill='rgba(189%2c 85%2c 153%2c 0.58)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M131.173%2c405.064C152.332%2c404.355%2c173.498%2c396.836%2c184.17%2c378.552C194.919%2c360.135%2c191.778%2c337.583%2c181.446%2c318.929C170.737%2c299.594%2c153.249%2c283.959%2c131.173%2c282.87C107.239%2c281.689%2c83.813%2c292.945%2c71.506%2c313.506C58.88%2c334.601%2c58.225%2c361.724%2c71.648%2c382.321C84.077%2c401.393%2c108.421%2c405.826%2c131.173%2c405.064' fill='rgba(189%2c 85%2c 153%2c 0.58)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M378.058%2c416.181C431.93%2c415.984%2c487.16%2c395.67%2c512.664%2c348.218C537.156%2c302.65%2c517.504%2c249.73%2c491.585%2c204.958C465.736%2c160.307%2c429.643%2c114.816%2c378.058%2c115.704C327.417%2c116.575%2c296.638%2c165.012%2c271.102%2c208.752C245.255%2c253.025%2c218.239%2c303.645%2c241.734%2c349.21C266.603%2c397.44%2c323.794%2c416.38%2c378.058%2c416.181' fill='rgba(189%2c 85%2c 153%2c 0.58)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1227.894%2c451.512C1254.875%2c451.287%2c1276.63%2c431.756%2c1289.747%2c408.177C1302.456%2c385.332%2c1304.88%2c358.183%2c1292.675%2c335.065C1279.608%2c310.314%2c1255.874%2c290.363%2c1227.894%2c291.014C1200.75%2c291.646%2c1181.006%2c314.058%2c1168.132%2c337.963C1156.042%2c360.41%2c1152.357%2c386.66%2c1164.231%2c409.222C1176.948%2c433.386%2c1200.589%2c451.739%2c1227.894%2c451.512' fill='rgba(189%2c 85%2c 153%2c 0.58)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1153'%3e%3crect width='1518' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-position: center center;
}



#about .container-fluid {
  padding: 3% 15%;
}

.line {
  display: flex;

}

.line1 {
  display: flex;
}

.square-text {
  margin-bottom: 5%;
}


.imgbox {
  position: relative;
  width: 115%;
  height: 115%;
  margin-right: 40px;
}


.imgbox img {
  position: absolute;
  height: 100%;
  width: calc(130% - 80px);
  top: -70px;
  right: 50px;
  animation: animateUser 4s linear infinite;
}

@keyframes ainmateUser {
  50% {
    right: 30px;
    top: -90px;
  }
}


.square {
  font-family: Bunge, sans-serif;
  font-size: 3vw;
  font-weight: 900;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  cursor: default;
  transition: all 0.3s;
  color: #3d535f;

}

.square span {
  color: #7f00ff;
}

#about p {
  font-family: Roboto, sans-serif;
  color: #3d535f;
  font-size: 25px;

}

.wrapper {
  background-color: #DDDDDD;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.hire-me {
  margin: 5% 3% 5% 0;
  font-family: Nunito, sans-serif;
  letter-spacing: 1px;
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(to right, #f02fc2, #6094ea);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;

}


button:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}


button:hover::before {
  filter: blur(20px);
}

button:focus {
  outline: none;
}


.square:hover {
  color: #46C2CB;
}

.square span:hover {
  color: #46C2CB;
}

/* rubberBand Animation */

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1)
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1)
  }

  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1)
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1)
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1)
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

/* non-prefixed keyframes  */


@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    -ms-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1)
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    -ms-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1)
  }

  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    -ms-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1)
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    -ms-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1)
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    -ms-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1)
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}


/* animation moves the image */

@keyframes animateUser {
  50% {
    right: 30px;
    top: -90px;
  }
}


@keyframes animate {
  50% {
    top: 49%;
    left: 51%;
    width: 475px;
  }
}


@keyframes object1 {
  50% {
    left: -13%;
    top: 41%;
  }
}

@keyframes object2 {
  50% {
    left: 35%;
    top: 10%;
  }
}

@media (max-width: 600px) {
  .square {
    font-size: 4vw;
  }

  #about p {
    text-align: center;
    top: -5;
    margin: auto;
    font-size: 14px;
    font-weight: bold;
  }

  #about .square-text {
    display: flex;
    justify-content: center;

  }

  #about .square {
    font-size: 20px;
  }

  #about .line1 {
    margin-left: 4%;
    margin-right: 3%;
  }

  #about .hire-me {
    display: block;
    margin: 5% auto;
  }

  .imgbox img {
    animation: none;
    position: relative;
    margin-left: 20%;
    margin-top: 15%;
    width: 250px;
  }
}

@media screen and (min-width: 600px) and (max-width: 999px) {
  .imgbox {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;

  }

  .imgbox img {
    animation: none;
    position: absolute;
    width: 90%;
    margin-top: 25%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
  }

  #about .square {
    font-size: 5vw
  }

  #about .square-text {
    margin-top: 30%;

    display: flex;
    justify-content: center;

  }

  #about p {
    text-align: center;
    margin-top: 10%;
    font-size: 20px;
    font-weight: bold;
  }

  #about .hire-me {
    display: block;
    margin: 5% auto;

  }
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .imgbox {
    width: 100%;
    height: 60%;
    margin-top: 25%;
  }
}


/* ------------Skills----------- */

section#skills {
  background-color: #DDDDDD;

}

#skills {
  padding: 7% 15%;
}

.skill-img {
  text-align: center;
  padding: 5% 15%;
}

.skill-img img {
  width: 200px;
  text-align: center;
  padding: 0 5%;
}

#skills h2 {
  font-family: Bunge, sans-serif;
  color: #3d535f;
  font-size: 3vw;
  font-weight: 900;
  text-align: center;
  padding: 80px 0;

}

.skill-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.skill-img img {
  --m: radial-gradient(circle farthest-side at right, #000 99%, #0000) 0 100%/46% 92% no-repeat, radial-gradient(circle farthest-side at left, #000 99%, #0000) 100% 0/46% 92% no-repeat;
  -webkit-mask: var(--m);
  mask: var(--m);
  filter: grayscale(.5);
  transition: .3s linear;
  cursor: pointer;
  padding: 5%;
}

.skill-img:hover img {
  -webkit-mask-position: 7.5% 50%, 92.5% 50%;
  mask-position: 7.5% 50%, 92.5% 50%;
  filter: grayscale(0);
}

.skill-description {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #3d535f;
}




@media (max-width: 600px) {
  section#home {
    display: none;
  }

  section#about {
    padding-top: 30%;
  }

  .skill-img img {
    width: 150px;
  }

  #skills h2 {
    font-size: 20px;
  }

  #skills p {
    font-size: 14px;
  }

}

@media screen and (min-width: 600px) and (max-width: 999px) {
  #skills h2 {
    font-size: 5vw;
  }
}



/* Contact Me*/


section#contact {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1079%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(221%2c 221%2c 221%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c439 C 288%2c403 1152%2c295 1440%2c259L1440 560L0 560z' fill='rgba(190%2c 204%2c 219%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c382 C 96%2c354.8 288%2c210.8 480%2c246 C 672%2c281.2 768%2c582.6 960%2c558 C 1152%2c533.4 1344%2c210 1440%2c123L1440 560L0 560z' fill='rgba(135%2c 142%2c 205%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1079'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}



#contact .icon {
  text-align: center;
  margin: auto;

}


.form-icon {

  margin: 20px;
  font-size: 75px;
  color: #F16767;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  border-radius: 50%;
}

.form-icon:hover {
  color: #46C2CB;
  transform: scale(1.2);
  background-color: #F8F8F8;
}


.form-icon i {
  transition: all 0.3s ease-in-out;
}

footer {
  height: 20px;
  line-height: 20px;
  margin: auto;
  background-color: #4E6E81;

}

@media only screen and (max-width: 768px) {
  .form-icon {
    font-size: 40px;
    margin-right: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}