@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Nunito&family=Roboto&display=swap');



:root {
  --primaryColor: #fff;
  --navColor1: #6096B4;
  --navColor2: #93BFCF;
  --navColor3: #BDCDD6;
  --navColor4: #EEE9DA;
  --navColor5: #FFC3A1;
}

/* Global Styles */
html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #DDDDDD;
  overflow-x: hidden;
  opacity: 1;
}



/* Navigation Menu */

section#home {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1441' height='560' preserveAspectRatio='none' viewBox='0 0 1441 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1188%26quot%3b)' fill='none'%3e%3crect width='1441' height='560' x='0' y='0' fill='rgba(221%2c 221%2c 221%2c 1)'%3e%3c/rect%3e%3cg mask='url(%26quot%3b%23SvgjsMask1189%26quot%3b)'%3e%3cpath d='M148.5 280.5L181.5 313.5L214.5 313.5L247.5 313.5M313.5 280.5L346.5 313.5L379.5 313.5L412.5 313.5M379.5 280.5L412.5 247.5M346.5 280.5L379.5 247.5M-16.5 280.5L16.5 280.5L49.5 280.5L82.5 280.5L115.5 280.5L148.5 280.5L181.5 280.5L214.5 280.5L247.5 280.5L280.5 280.5L313.5 280.5L346.5 280.5L379.5 280.5L412.5 280.5L445.5 280.5L478.5 280.5' stroke='rgba(125%2c 185%2c 182%2c 1)' stroke-width='5.5'%3e%3c/path%3e%3cpath d='M470.25 280.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM239.25 313.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM404.25 313.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM404.25 247.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM371.25 247.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0z' fill='rgba(125%2c 185%2c 182%2c 1)'%3e%3c/path%3e%3cpath d='M445.5 214.5L478.5 247.5L511.5 247.5L544.5 247.5L577.5 247.5L610.5 247.5M247.5 247.5L280.5 214.5L313.5 214.5M181.5 247.5L214.5 214.5L247.5 214.5M313.5 247.5L346.5 247.5M-16.5 247.5L16.5 247.5L49.5 247.5L82.5 247.5L115.5 247.5L148.5 247.5L181.5 247.5L214.5 247.5L247.5 247.5L280.5 247.5L313.5 247.5L346.5 214.5L379.5 214.5L412.5 214.5L445.5 214.5L478.5 214.5L511.5 214.5' stroke='rgba(233%2c 100%2c 121%2c 1)' stroke-width='5.5'%3e%3c/path%3e%3cpath d='M503.25 214.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM602.25 247.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM305.25 214.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM239.25 214.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM338.25 247.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0z' fill='rgba(233%2c 100%2c 121%2c 1)'%3e%3c/path%3e%3cpath d='M-16.5 313.5L16.5 313.5L49.5 313.5' stroke='rgba(233%2c 100%2c 121%2c 1)' stroke-width='5.5'%3e%3c/path%3e%3cpath d='M41.25 313.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0z' fill='rgba(233%2c 100%2c 121%2c 1)'%3e%3c/path%3e%3cpath d='M478.5 181.5L511.5 148.5L544.5 148.5L577.5 148.5L610.5 115.5L643.5 115.5L676.5 115.5M280.5 181.5L313.5 148.5M544.5 181.5L577.5 214.5L610.5 214.5L643.5 214.5M148.5 181.5L181.5 214.5M-16.5 214.5L16.5 214.5L49.5 214.5L82.5 214.5L115.5 214.5L148.5 181.5L181.5 181.5L214.5 181.5L247.5 181.5L280.5 181.5L313.5 181.5L346.5 181.5L379.5 181.5L412.5 181.5L445.5 181.5L478.5 181.5L511.5 181.5L544.5 181.5L577.5 181.5' stroke='rgba(125%2c 185%2c 182%2c 1)' stroke-width='5.5'%3e%3c/path%3e%3cpath d='M569.25 181.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM668.25 115.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM305.25 148.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM635.25 214.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM173.25 214.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0z' fill='rgba(125%2c 185%2c 182%2c 1)'%3e%3c/path%3e%3cpath d='M-16.5 346.5L16.5 346.5' stroke='rgba(125%2c 185%2c 182%2c 1)' stroke-width='5.5'%3e%3c/path%3e%3cpath d='M8.25 346.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0z' fill='rgba(125%2c 185%2c 182%2c 1)'%3e%3c/path%3e%3cpath d='M82.5 181.5L115.5 148.5M181.5 148.5L214.5 115.5L247.5 115.5L280.5 115.5L313.5 115.5M49.5 181.5L82.5 148.5M-16.5 181.5L16.5 181.5L49.5 181.5L82.5 181.5L115.5 181.5L148.5 148.5L181.5 148.5L214.5 148.5' stroke='rgba(125%2c 185%2c 182%2c 1)' stroke-width='5.5'%3e%3c/path%3e%3cpath d='M206.25 148.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM107.25 148.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM305.25 115.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM74.25 148.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0z' fill='rgba(125%2c 185%2c 182%2c 1)'%3e%3c/path%3e%3cpath d='M16.5 379.5L49.5 412.5M115.5 346.5L148.5 313.5M82.5 379.5L115.5 379.5M445.5 346.5L478.5 313.5L511.5 313.5L544.5 313.5M181.5 346.5L214.5 379.5L247.5 379.5L280.5 379.5L313.5 412.5L346.5 412.5L379.5 412.5M-16.5 379.5L16.5 379.5L49.5 379.5L82.5 379.5L115.5 346.5L148.5 346.5L181.5 346.5L214.5 346.5L247.5 346.5L280.5 346.5L313.5 346.5L346.5 346.5L379.5 379.5L412.5 379.5L445.5 346.5L478.5 346.5L511.5 346.5L544.5 346.5L577.5 346.5L610.5 346.5L643.5 313.5' stroke='rgba(125%2c 185%2c 182%2c 1)' stroke-width='5.5'%3e%3c/path%3e%3cpath d='M635.25 313.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM41.25 412.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM140.25 313.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM107.25 379.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM536.25 313.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM371.25 412.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0z' fill='rgba(125%2c 185%2c 182%2c 1)'%3e%3c/path%3e%3cpath d='M16.5 115.5L49.5 82.5L82.5 82.5L115.5 82.5M148.5 115.5L181.5 115.5M-16.5 148.5L16.5 115.5L49.5 115.5L82.5 115.5L115.5 115.5L148.5 115.5L181.5 82.5' stroke='rgba(233%2c 100%2c 121%2c 1)' stroke-width='5.5'%3e%3c/path%3e%3cpath d='M173.25 82.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM107.25 82.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0zM173.25 115.5 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0z' fill='rgba(233%2c 100%2c 121%2c 1)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1188'%3e%3crect width='1441' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cmask id='SvgjsMask1189'%3e%3crect width='1441' height='560' fill='white'%3e%3c/rect%3e%3cpath d='M474.37 280.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM243.37 313.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM408.37 313.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM408.37 247.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM375.37 247.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M507.37 214.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM606.37 247.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM309.37 214.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM243.37 214.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM342.37 247.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M45.37 313.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M573.37 181.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM672.37 115.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM309.37 148.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM639.37 214.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM177.37 214.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M12.37 346.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M210.37 148.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM111.37 148.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM309.37 115.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM78.37 148.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M639.37 313.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM45.37 412.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM144.37 313.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM111.37 379.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM540.37 313.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM375.37 412.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M177.37 82.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM111.37 82.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0zM177.37 115.5 a4.13 4.13 0 1 0 8.26 0 a4.13 4.13 0 1 0 -8.26 0z' fill='black'%3e%3c/path%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-position: center center;
}

#welcome-text {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  right: 0;
  width: 35%;
  margin-right: 10%;

}



#welcome-text h1 {
  font-size: 2vw;
  display: block;
  font-family: Bunge, sans-serif;
  font-weight: 900;


}

#welcome-text h2 {
  font-size: 1.5vw;
  display: block;
  font-family: Bunge, sans-serif;
  font-weight: 900;
  padding-bottom: 5px;

}


#typed {
  color: #7f00ff;
}


.small-screen-img {
  display: none;
}

/* Overlay */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Navigation */
nav,
nav ul {
  height: 100%;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 20%;
  overflow: hidden;
}

nav li a {
  font-family: Nunito, sans-serif;
  font-size: 1.5rem;
  position: relative;
  top: 45%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a::before {
  content: "";
  width: 25vw;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
}

nav li a:hover::before {
  opacity: 1;
}

nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}

nav li:nth-of-type(2) {
  background-color: var(--navColor2);
}

nav li:nth-of-type(3) {
  background-color: var(--navColor3);
}

nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}

nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}

.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}



/* Sections */
section#home {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}


/* Home Icon */
.home-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin: 10px 0;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

/* Styling for the home icon */
.home-icon a {
  padding: 20px 10px;
  font-size: 1.5rem;
}

/* Slide-in animation for navigation  */
.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

/* Keyframes for the slide-in animation */
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}





/* ----------About----------- */
section#about {
  background-color: #DDDDDD;

}



#about .container-fluid {
  padding: 3% 15%;
}

.line {
  display: flex;

}

.line1 {
  display: flex;
}

.square-text {
  margin-bottom: 5%;
}

.arsam-img {
  width: 125%;
  padding-right: 10%;
  padding-top: 7%;
}


.imgbox img {
  position: relative;
  top: -100px;
  right: 50px;
  animation: animateUser 4s linear infinite;
}



.square {
  font-family: Bunge, sans-serif;
  font-size: 3vw;
  font-weight: 900;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  cursor: default;
  transition: all 0.3s;
  color: #3d535f;

}

.square span {
  color: #7f00ff;
}

#about p {
  font-family: Roboto, sans-serif;
  color: #3d535f;
  font-size: 25px;

}

.hire-me {
  margin: 5% 3% 5% 0;
  font-family: Nunito, sans-serif;
  letter-spacing: 1px;
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(to right, #f02fc2, #6094ea);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;

}


button:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}


button:hover::before {
  filter: blur(20px);
}

button:focus {
  outline: none;
}


.square:hover {
  color: #46C2CB;
}

.square span:hover {
  color: #46C2CB;
}

/* rubberBand Animation */

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1)
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1)
  }

  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1)
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1)
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1)
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

/* non-prefixed keyframes  */


@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    -ms-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1)
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    -ms-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1)
  }

  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    -ms-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1)
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    -ms-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1)
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    -ms-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1)
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}


/* animation moves the image */

@keyframes animateUser {
  50% {
    right: 30px;
    top: -90px;
  }
}


@keyframes animate {
  50% {
    top: 49%;
    left: 51%;
    width: 475px;
  }
}


@keyframes object1 {
  50% {
    left: -13%;
    top: 41%;
  }
}

@keyframes object2 {
  50% {
    left: 35%;
    top: 10%;
  }
}

@media (max-width: 600px) {
  .square {
    font-size: 4vw;
  }
}


.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}








/* ------------Skills----------- */



section#skills {
  background-color: #DDDDDD;

}

#skills {
  padding: 7% 15%;
}

.skill-img {
  text-align: center;
  padding: 5% 15%;
}

.skill-img img {
  width: 300px;
  text-align: center;
  padding: 0 5%;
}

#skills h2 {
  font-family: Bunge, sans-serif;
  color: #3d535f;
  font-size: 3vw;
  font-weight: 900;
  text-align: center;
  padding: 80px 0;

}



.skill-description {
  font-family: roboto, sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding: 5% 0;
  color: #3d535f;
}

@media (max-width: 600px) {
  section#home {
    display: none;
  }

  section#about {
    padding-top: 30%;
  }

  .skill-img img {
    width: 150px;
  }

  #skills h2 {
    font-size: 5vw;

  }

}

.spin {
  transition: transform .4s;
}

.spin:hover {
  transform: rotate(360deg);
}






/* Contact Me*/


section#contact {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1079%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(221%2c 221%2c 221%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c439 C 288%2c403 1152%2c295 1440%2c259L1440 560L0 560z' fill='rgba(190%2c 204%2c 219%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c382 C 96%2c354.8 288%2c210.8 480%2c246 C 672%2c281.2 768%2c582.6 960%2c558 C 1152%2c533.4 1344%2c210 1440%2c123L1440 560L0 560z' fill='rgba(135%2c 142%2c 205%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1079'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;

}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}



#contact-form .feedback-input {
  color: #333;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  border-radius: 5px;
  line-height: 24px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  transition: all 0.3s;
  padding: 14px 16px;
  margin-bottom: 20px;
  outline: none;
  outline: none;
  resize: none;
}

.feedback-input:focus {
  border: 1px solid #666;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}



[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: linear-gradient(to right, #f02fc2, #6094ea);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding: 10px 20px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}

[type="submit"]:hover {
  background: linear-gradient(to right, #f02fc2, #6094ea);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.8);
}

[type="submit"]:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  animation: pulse 1s ease-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }

  50% {
    transform: scale(1);
    opacity: 0.3;
  }

  100% {
    transform: scale(0.9);
    opacity: 0.7;
  }
}

.submit-button {
  margin: auto;
  font-size: 2rem;
  font-family: Nunito, sans-serif;
}



.container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contact .icon {
  text-align: center;
  padding: 3% 0;
}


.form-icon {
  margin: 0 10px;
  font-size: 3em;
  color: #F16767;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  border-radius: 50%;
  padding: 8px;
}

.form-icon:hover {
  color: #46C2CB;
  transform: scale(1.2);
  background-color: #F8F8F8;
}

.form-icon:hover i {
  transform: rotate(360deg);
}

.form-icon i {
  transition: all 0.3s ease-in-out;
}

footer {
  height: 20px;
  line-height: 20px;
  margin: auto
}